$primary-color: #c7e5f0;
$secondary-color: #cef59c;
$third-color: #c44ff3;
$input-background-color: #d9e8d8;
$background-color: #f3eee7;
$button-color: #c7e5f0;
$button-color-dark: #93a9b2;
$button-color-light: #d9f5f5;

$modal-button-color-light: #ffffff;
